.continue-btn {
	margin: auto;
	width: min-content;
}

.no-items-message {
	margin-top: 2rem;
}

.checkout-btn {
	text-decoration: none;
	width: min-content;
	white-space: nowrap;
	margin: auto;
	display: block;
}

.cart-page-table {
	border: 1px solid var(--highlight-color);
	box-shadow: var(--box-shadow);
	padding: 2rem;
	margin: 2rem auto;
}

hr {
	border: 0;
	color: #000;
	height: 1.25rem;
	line-height: 1.25rem;
	outline: 0;
	text-align: center;
}

.table-image {
	max-width: 200px;
}

.order-total {
	font-size: 1.25rem;
	font-weight: bold;
	width: min-content;
	white-space: nowrap;
	margin-left: auto;
}

.remove-from-cart-btn {
	background-color: hsl(354deg, 70%, 52%);

	&:hover {
		background-color: hsl(354deg, 70%, 60%);
	}
}

@media (max-width: 689px) {
	.remove-from-cart-btn,
	.table-image {
		display: none;
	}

	.table-row {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;
	}
}

@media (min-width: 689px) {
	.cart-page-table {
		width: 75vw;
	}

	.table-row {
		display: grid;
		grid-template-columns: 3rem 1fr 1fr 4rem;
		column-gap: 2rem;
		align-items: center;
	}

	.table-image {
		justify-self: center;
	}
}
