.add-to-cart-btn {
	margin: 0.5rem auto;
}

.cart-quantity {
	color: black !important;
	text-align: center;
}

.inc-dec-btns {
	display: grid;
	grid-template-columns: min-content 3rem min-content;
	align-items: center;
}

.cart-btn-remove {
	margin-top: 0.4rem;
	background-color: red;

	&:hover {
		background-color: red;
	}
}

.cart-btns-container {
	margin: 0.75rem;
}

.cart-btn-decrease {
	background-color: hsl(354, 70%, 52%);

	&:hover {
		background-color: hsl(354, 70%, 60%);
	}
}
