.checkout-form {
	width: min-content;
	padding: 1rem 2rem;
	border: 1px solid var(--highlight-color);
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	margin: auto;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.form-label {
	margin-bottom: 0.25rem;
}

.form-input {
	padding: 0.5rem;
	min-width: 25vw;
	border: 1px solid rgb(74, 74, 74);
	border-radius: 4px;
	transition: var(--ease-in);

	&:hover {
		border: 1px solid var(--highlight-color);
	}
}

.checkout-btns-container {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 1fr;
}

.back-to-cart-btn {
	text-decoration: none;
}
