.navbar {
	display: flex;
	justify-content: flex-end;
	background-color: var(--highlight-color);
}

.navbar-list {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.navbar-button {
	font-size: 1.3rem;
	font-weight: bold;
	color: white;
	padding: 1rem;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	white-space: nowrap;
}

.navbar-button:hover {
	background-color: white;
	color: black;
}

.searchContainer {
	position: relative;
	height: 70%;
	width: 15rem;
	margin-right: 5rem;
}

.searchInput {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid var(--border-color);
	border-radius: 0.5rem;
	outline: none;
	font-size: 1rem;
	padding: 1rem;
	z-index: 1;
	transition: 0.3s ease-in;
}

.searchInput:focus {
	border-color: var(--outline-color);
}
