.productsGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	max-width: 100%;
	margin: 0 auto;
}

.product {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	background: rgb(253, 253, 253);
	color: black;
	max-height: min-content;
	margin: 1rem;
	box-shadow: var(--box-shadow);
	padding: 1rem;
	border-radius: 1.5rem;
	transition: 0.2s ease-in;
	text-decoration: none;

	&:hover {
		cursor: pointer;
		color: var(--highlight-color);
		transform: scale(1.02);
	}
}

.product-image {
	max-width: 7rem;
	border-radius: 0.25rem;
	margin-bottom: 0.5rem;
}

.product-name {
	font-weight: 600;
}
