.productsGrid {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	margin: 0 auto;
	justify-content: center;
}

.product-link {
	text-decoration: none;

	transition: var(--ease-in);

	background: rgb(253, 253, 253);
	color: black;
	padding: 1rem;

	&:hover {
		cursor: pointer;
		color: var(--highlight-color);
	}
}

.product {
	width: 20rem;
	margin: 1rem;
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;
	transition: var(--ease-in);
	box-shadow: var(--box-shadow);
	max-height: min-content;
	flex-direction: column;
	border-radius: 1.5rem;

	&:hover {
		color: var(--highlight-color);
		transform: scale(1.02);
		border: 1px solid var(--highlight-color);
	}
}

.product-image {
	max-width: 7rem;
	border-radius: 0.25rem;
	margin-bottom: 0.5rem;
}

.product-name {
	font-weight: 600;
}

.product-category {
	font-style: italic;
}
